* {box-sizing: border-box;}
/* menu styling */
ul {
	list-style-type: none;
	padding:0;
	margin:0;
	overflow: hidden;
    background-color: white;
	padding: 14px 7px;
}
 li {
	float: left;
	border: 1px solid white;
	margin-left:2%;
	padding:0;
	
}
li  a {
	background-color:#ffc2ca;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 7px;
	text-decoration: none;
	font-weight:bold;
}

 li a:hover {
    background-color:white;
    color:#9f9f9f;
    opacity: 0.7;
}

/* Add a gray background color with some padding */
body {
	 	

	margin:0;
    font-family:"Courier New", Courier, monospace;
    padding: 80px;
    text-align:center;
    background:white;
    color: #9f9f9f;
    background-image:url(../images/12.jpg);
	background-repeat:no-repeat;
	  background-position: center top; 
	  	font-weight:bold;
}

/* styling as blog */
/* Blog Title styling */
.header {

  text-align: center;
  padding:0;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
	float: left;
	width: 75%;
}
/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
  height:25%;
  padding-left: 20px;
}
/* Add a card effect for articles */
.card {
	background-color:  #ffe9ec;
	padding: 20px;
	margin-top: 20px; 
	margin-left:20px;
    margin-right:20px;
	text-align:left; 
	color:#9f9f9f;
	border:1px solid grey;
	
}
#s{text-align:center;  padding: 20px;font-weight:bold;color:white;	background-image:url(../images/12.jpg);  
	  background-position: center top;  }
.v li{  
	background-image:none;
	margin-left:4%;
	padding:0;
	border: none;
}
.v ul{	border:1px solid #ffc7e6;background-color:#ffc7e6}
h2,h3{ text-align:center;}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Footer */
.footer a {
	padding: 20px;
  text-align: center;
  margin-top: 20px;	

  
}
/* follow me tag styling */
.fa  {
  padding: 10px;
  font-size: 30px;
  text-align:center;
  text-decoration: none;
  border-radius: 50px;
}
.fa:hover {
    opacity: 0.7;
}

/*  slide show styling */
img ,iframe{
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select:none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 25%;
  border-radius: 3px 0 0 3px;
}
.prev{left:25%}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,.next:hover {
  background-color: grey;
}
/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-weight: bold;
  font-size: 12pt;
  padding: 8px 12px;
  position: absolute;
  top: 0%;
  left:65%;
}

/* Six columns side by side */
.column {
  float: left;
  width: 15%;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}
.active,.demo:hover {
  opacity: 1;
}
/* end of slide show */
input{border: none;background: #f1f1f1;}
input:hover{background-color: #ddd;outline: none;}
/*feed back form styling*/
fieldset {background-color:white; padding:10px; margin-bottom:10px; color:grey;font-weight:bold}
label.blockLabel { display:block;position:relative; width:450px; margin:12px 0px;}
label.blockLabel input,label.blockLabel select {position:absolute; left:140px;}
#firstname, #lastname,#middleName,#email,#city, #country{width:200px}
legend{font-weight:bold;	 border: 1px solid grey;background-color:white}
.blockLabel span{font-size:9pt}
/*end form*/
/*sign in -signup form styling*/
 .login-container button:hover {
  opacity: 0.6;
  
}
  /* Full-width input fields */
.container  input {
  width: 20%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;

}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
}
.registerbtn:hover {opacity: 1;}
/* Add a blue text color to links */
a {color: dodgerblue;}
/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
textarea{
	width:400px;
	height:80px;
	resize:none;
	background-color:#ffffff;
	border:none;
}

/*button styling for loggin-out,signup*/
button {
  background-color: white;
  border: none;
  color: grey;
  text-align: center;
  font-size: 16px;
  width:70px;
  height:30px;
  opacity: 0.6;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-top:5%;
}
button:hover {opacity: 1}

/* end button styling*/
/* order list style */
ol li{float: none;
	border:none;
	margin-left:none;
	padding:0;
}

/* comment box style */
.com-box {
	width:650px;
	padding:15px;
	margin-bottom:14px;
	background-color:#ffffff;
	border-radius:4px;
	position:relative;
	}
.com-box p{font-size:12pt;line-height:16px;color:grey;}			
.box{width:450px;height:130px;}
.edit button,.del button{position:absolute;top:0px;right:0px;}	
.del button{right:60px;}
mark{background-color:pink;color:white;}

/* grid css*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
 
}
.grid-item {
  background-color: white;
  border: none ;
  padding: 30px;
  text-align: center;

}